.icon-nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 10px 0;
  background-color: #f9f9fa;
}

.icon-nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon-nav-content {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-dot {
  position: absolute;
  top: 3px;
  right: 0;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #ff6229;
  color: white;
}

.update-dot {
  position: absolute;
  top: 5px;
  right: 0;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #ff6229;
}
