.no-mobile {
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

@media screen and (max-width: 530px) {
  .no-mobile {
    display: none;
  }
}
