@import "./reset.css";

/* component */
@import "./component/status-bar.css";
@import "./component/footer-bar.css";
@import "./component/header-bar.css";
@import "./component/no-mobile.css";

/* screen */
@import "./screen/login.css";
@import "./screen/friend.css";
@import "./screen/chats.css";
@import "./screen/find.css";
@import "./screen/more.css";
@import "./screen/setting.css";
@import "./screen/chatting.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
