.setting-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px 20px 30px;
}

.setting-title {
  font-weight: bold;
  font-size: 24px;
}

.setting-button-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid #aeaeae;
  padding: 10px 0;
  margin: 0 20px;
}

.setting-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.setting-info-title {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
}

.setting-img {
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 24px;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  font-weight: 600;
}

.setting-info i {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setting-menu-wrap {
  padding-bottom: 80px;
}

.new {
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  margin-left: 10px;
}

.placeholder {
  color: #aeaeae;
}

.special {
  margin-bottom: 20px;
  border-bottom: 0;
}
